[submodule "gradle"]
	path = gradle
	url = https://github.com/wilton-iot/tools_gradle.git
[submodule "android-ndk-r9d-arm-linux-androideabi-4.8"]
	path = android-ndk-r9d-arm-linux-androideabi-4.8
	url = https://github.com/staticlibs/android-ndk-r9d-arm-linux-androideabi-4.8.git
[submodule "sdk"]
	path = sdk
	url = https://github.com/wilton-iot/tools_android_sdk.git
[submodule "libc6_2.15"]
	path = libc6_2.15
	url = https://github.com/wilton-iot/tools_android_libc6_2.15.git
[submodule "adb"]
	path = adb
	url = https://github.com/wilton-iot/tools_android_adb.git
